<img src="{{training.trainingImageUrl}}"
     class="my_img"
     width="auto"
     height="auto"
     alt="photo_1"/>


<div class="img"></div>

<div id="topic" class="my_title">
  <div
    id="topicText" class="myText"> {{training.topic}}
  </div>
</div>
<div id="description" class="headerText">
  <div
    id="descriptionText" class="my_text"> {{training.description}}
  </div>
</div>
<div id="trainer" class="headerText">
  <div
    id="topicTrainer" class="my_author"> Prowadzący: {{training.trainer}}
  </div>
</div>
<div id="Info" class="headerText">
  <div
    id="infoData" class="my_data">
    Data: {{training.date}}<br>
    Godzina: {{training.time}}<br>
    Czas trwania: {{training.durationInMinutes}}


    <span class="file">
    <a href="{{training.trainingFileUrl}}" class="">Download attached {{training.trainingFileUrl.split('.').pop()}} file</a>
    </span>

  </div>
</div>


