<img src="{{training.trainingImageUrl}}"
     class="img"
     width="40%"
     height="40%"
     alt="photo_1"/>


<div class="img"></div>

<div id="topic" class="headerText"> Temat
  <div
    id="topicText" class="myText"> {{training.topic}}
  </div>
</div>
<div id="description" class="headerText">Opis
  <div
    id="descriptionText" class="myText"> {{training.description}}
  </div>
</div>
<div id="trainer" class="headerText">Prowadzący
  <div
    id="topicTrainer" class="myText"> {{training.trainer}}
  </div>
</div>
<div id="Info" class="headerText">Szczegóły
  <div
    id="infoData" class="infoText" style="padding-left: 20px">
    Data: {{training.date}}<br>
    Godzina: {{training.time}}<br>
    Czas trwania: {{training.durationInMinutes}}


    <span class="file">
  <a [href]="training.trainingFileUrl" [download]="">Download Attached file</a>

</span>



  </div>



</div>




<div class="float-container">
  <div class="float-child">
    <button type="submit" name="button"  class="left_btn">
      <span style="color: white;"> Login</span>
    </button>
  </div>
  <div class="float-child">
    <button type="submit" name="button"  class="right_btn">
      <span style="color: white;"> Login</span>
    </button>
  </div>
</div>
<div class="emptyHeaderText" ></div>
<div class="emptyHeaderText" ></div>
<div class="emptyHeaderText" ></div>
<div class="empty"></div>
<div class="empty"></div>

