<div *ngIf="!isLoggedIn(); then notLogged else logged"></div>

<ng-template #logged>
  <div class="myContainer">
    <div class="card my-5" id="proposal_list_logged">
      <div class="card-body">
        <table class="table table-bordered table-striped">
          <thead class="thead-dark">
          <tr>
            <th width="20%" scope="col">Temat</th>
            <th width="20%" scope="col">Opis</th>
            <th width="20%" scope="col">Ilość osób zainteresowanych poprowadzeniem szkolenia</th>
            <th width="20%" scope="col">Ilość osób zainteresowanych szkoleniem</th>
            <th width="10%" scope="col">Poprowadź szkolenie</th>
            <th width="10%" scope="col">Wyraź zainteresowanie</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let proposal of proposals">
            <td>{{ proposal.topic }}</td>
            <td>{{ proposal.description }}</td>
            <td>{{ proposal.assigned }}</td>
            <td>{{ proposal.votes }}</td>
            <td>
              <button type="submit"
                      class="button"
                      (click)="onAssignClicked(proposal)">
                Poprowadź</button>
            </td>
            <td>
              <button type="submit"
                      class="button"
                      (click)="onInterestedClicked(proposal.id)">
                Zainteresowany</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <mat-paginator [pageSizeOptions]="[10, 25, 100]" [pageSize]="10" [length]="totalElements"
                 (page)="nextPage($event)">

  </mat-paginator>
</ng-template>

<ng-template #notLogged>
  <div class="myContainer">
    <div class="card my-5" id="proposal_list_notLogged">
      <div class="card-body">
        <table class="table table-bordered table-striped">
          <thead class="thead-dark">
          <tr>
            <th width="25%" scope="col">Temat</th>
            <th width="25%" scope="col">Opis</th>
            <th width="25%" scope="col">Ilość osób zainteresowanych poprowadzeniem szkolenia</th>
            <th width="25%" scope="col">Ilość osób zainteresowanych szkoleniem</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let proposal of proposals">
            <td>{{ proposal.topic }}</td>
            <td>{{ proposal.description }}</td>
            <td>{{ proposal.assigned }}</td>
            <td>{{ proposal.votes }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <mat-paginator [pageSizeOptions]="[10, 25, 100]" [pageSize]="10" [length]="totalElements"
                   (page)="nextPage($event)">

    </mat-paginator>
  </div>
</ng-template>
