<div class=mainPageDiv>
    <div class=mainPageContent>
        <div class=imgContainer>
            <img src="../../assets/images/banner.jpg">
            <p class="text">Wspaniała strona w Angularze</p>
        </div>
        <div class=description>
            <p class="title">Organizator Szkoleń</p>
            <p>
                To jest aplikacja stworzona na potrzeby przedmiotu "Projekt zespołowy"
                na Politechnice Wrocławskiej. Temat zaproponowany został przez firmę Comarch i wykonywany jest 
                pod opieką mentora z tej firmy. <br>
                Aplikacja ma służyć do zautomatyzowania organizacji szkoleń wewnątrz firmy poprzez ułatwienie sprawdzania dostępnych terminów,
                wygodne przeglądanie i dodawanie zaplanowanych szkoleń i inne.
            </p>
        </div>
    </div>
</div>