<div class=mainPageDiv>
    <div class=mainPageContent>
        <div class=imgContainer>
            <img src="../../assets/images/banner.jpg">
            <p class="text">Aplikacja do organizowania szkoleń</p>
        </div>
      <div class="empty"></div>
        <div class=description>
            <p class="title">Organizator Szkoleń</p>
            <p>
                To jest aplikacja stworzona na potrzeby przedmiotu "Projekt zespołowy"
                na Politechnice Wrocławskiej. Temat zaproponowany został przez firmę Comarch i wykonywany jest
                pod opieką mentora z tej firmy. <br>
                Aplikacja ma służyć do zautomatyzowania organizacji szkoleń wewnątrz firmy poprzez ułatwienie sprawdzania dostępnych terminów,
                wygodne przeglądanie i dodawanie zaplanowanych szkoleń i inne.
            </p>
        </div>
    </div>
  <div class="empty"></div>
  <div class=description>
    <p class="title">Nadchodzące szkolenia</p>
  </div>
  <div class="float-container" >
    <div class="float-child">
      <div align="center">
        <h2>{{trainings[0].topic}}</h2>
      </div>
      <img
        (click)="goToTraining(trainings[0].id)"
        src="{{trainings[0].trainingImageUrl}}"
           class="img"
           alt="photo_1"/>
    </div>
    <div class="float-child">
      <div align="center">
        <h2>{{trainings[1].topic}}</h2>
      </div>
      <img
        (click)="goToTraining(trainings[1].id)"
        src="{{trainings[1].trainingImageUrl}}"
           class="img"
           alt="photo_1"/>
    </div>
    <div class="float-child">
      <div align="center">
        <h2>{{trainings[2].topic}}</h2>
      </div>
      <img
        (click)="goToTraining(trainings[2].id)"
        src="{{trainings[2].trainingImageUrl}}"
           class="img"
           alt="photo_1"/>
    </div>

  <div class="empty"></div>
  <div class="empgitty"></div>

  </div>

</div>
