
<nav class=navbarDiv>
    <a routerLink="/home">
    <img src="../../../assets/images/logo-light2.png" class=logo alt="logo">
    </a>
    <div class=buttons>
        <a class=item routerLink="/home">Strona główna</a>
        <a class=item routerLink="/trainings">Lista Szkoleń</a>
        <a class=item routerLink="/topics">Proponowane tematy</a>
        <a routerLink="/addproposal" class="item">Zaproponuj temat</a>
        <div *ngIf="!loggedIn; then loginButton else logoutButton"></div>
    </div>
</nav>

<ng-template #loginButton>
    <a class=item routerLink="/login">Logowanie</a>
    <a class=item routerLink="/register">Rejestracja</a>
</ng-template>
<ng-template #logoutButton><a class=item (click)="logout()">Wyloguj</a></ng-template>
