<nav class=navbarDiv>
    <a routerLink="/home">
    <img src="../../../assets/images/logo-light2.png" class=logo alt="logo">
    </a>
    <div class=buttons>
        <a class=item routerLink="/home">Strona główna</a>
        <a class=item routerLink="/topics">Proponowane tematy</a>
        <div *ngIf="!isLoggedIn(); then loginButton else logoutSection"></div>
    </div>
</nav>

<ng-template #loginButton>
    <div class="loginSection">
    <a class=item routerLink="/login">Logowanie</a>
    <a class=item routerLink="/register">Rejestracja</a>
    </div>
</ng-template>
<ng-template #logoutSection>
  <a class=item routerLink="/trainings">Lista Szkoleń</a>
  <a *ngIf="isAdmin()" class=item routerLink="/addtraining">Dodaj szkolenie</a>
  <a class=item routerLink="/addproposal">Zaproponuj temat</a>
  <div class="loginSection">
      <h3>Witaj, {{getName()}} </h3> 
      <a (click)="logout()" class=item>Wyloguj</a>  
  </div>
</ng-template>