
<nav class=navbarDiv>
    <a routerLink="/home">
    <img src="../../../assets/images/logo-light2.png" class=logo alt="logo">
    </a>
    <div class=buttons>
        <a class=item routerLink="/home">Strona główna</a>
        <a class=item routerLink="/trainings" (click)="onClick()">Lista Szkoleń</a>
        <a routerLink="/addtraining" class="item">Zaproponuj temat</a>
        <a routerLink="/adduser" class="item">Zarejestruj się</a>
        <a routerLink="/login" class="item">zaloguj sie</a>
    </div>
</nav>
