@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Roboto');

.navbarDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: 4rem;
    font-size: 1.5rem;
    margin: 1rem 4rem;
}

.logo{
    max-width: 100%;
    height: auto;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.buttons .item:focus {
    border-color: white;
}
.buttons .item:hover{
    font-size: 1.1em;
}

.item{
    box-sizing: border-box;
    margin-left: 1rem;
    margin-right: 1rem;
    font-family: 'Oswald', sans-serif;
    background-color: white;
    border: none;
    user-select: none;
}

a:visited {
   color: black;
}

.loginSection {
    box-sizing: border-box;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-left: 10px;
    padding-bottom: 15px;
    font-family: 'Oswald', sans-serif;
    background-color: white;
    border-left: 5px solid burlywood;
    user-select: none;
}

.loginSection h3{
    font-weight: bolder;
}