<div class="myContainer">
  <div class="card my-5">
    <div class="card-body">
      <form (ngSubmit)="onSubmit()" #proposalForm="ngForm">
        <div class="form-group">
          <label for="topic">Temat</label>
          <input type="text" [(ngModel)]="proposal.topic"
                 class="form-control"
                 id="topic"
                 name="topic"
                 placeholder="Wprowadź temat szkolenia"
                 required #name="ngModel">
        </div>
        <div [hidden]="!name.pristine || name.untouched" class="alert alert-danger">Uzupełnij pole tematu</div>
        <div class="form-group">
          <label for="description">Opis</label>
          <input type="text" [(ngModel)]="proposal.description"
                 class="form-control"
                 id="description"
                 name="description"
                 placeholder="Wprowadź krótki opis szkolenia"
                 required #name2="ngModel">
        </div>
        <label for="assignTrainer">Chciałbym poprowadzić to szkolenie
          <input id="assignTrainer" [checked]="assignTrainer" (change)="assign($event)" [hidden]="false" type="checkbox"
                 class="form-control"
                 name="assignTrainer">
        </label>
        <div [hidden]="!name2.pristine || name2.untouched" class="alert alert-danger">Uzupełnij pole opisu</div>
        <button type="submit" [disabled]="!proposalForm.form.valid"
                class="btn btn-info">Stwórz propozycję
        </button>
      </form>
    </div>
  </div>
</div>
