<div class="myContainer">
  <div class="card my-5" id="training_list">
    <div class="card-body">
      <div class="theader">Zatwierdzone tematy</div>
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
          <th scope="col">Temat</th>
          <th scope="col">Opis</th>
          <th scope="col">Prowadzący</th>
          <th scope="col">Czas trwania</th>
          <th scope="col">Data</th>
          <th scope="col">Godzina</th>
        </tr>
        </thead>
        <tbody>
        <tr (click)="goToTraining(training.id)" *ngFor="let training of trainings">
          <td>{{ training.topic }}</td>
          <td>{{ training.description }}</td>
          <td>{{ training.trainer }}</td>
          <td>{{ training.durationInMinutes }}</td>
          <td>{{ training.date }}</td>
          <td>{{ training.time }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
