<div class=userGuideDiv>
  <div class=UserContent>
<!--    <div class=imgContainer>-->
<!--      <img src="../../assets/images/banner.jpg">-->
<!--      <p class="text">Aplikacja do organizowania szkoleń</p>-->
<!--    </div>-->
    <div class="empty"></div>
    <div class=description>
      <p class="title">Organizator Szkoleń</p>
      <p>
        To jest aplikacja stworzona na potrzeby przedmiotu "Projekt zespołowy"
        na Politechnice Wrocławskiej. Temat zaproponowany został przez firmę Comarch i wykonywany jest
        pod opieką mentora z tej firmy. Aplikacja ma służyć do zautomatyzowania organizacji szkoleń wewnątrz firmy poprzez ułatwienie sprawdzania dostępnych terminów,
        wygodne przeglądanie i dodawanie zaplanowanych szkoleń i inne. <br>

        Najwaźniejsze funkcji aplikacji są dostępne zarejestrowanym użytkonikóm. Rejestracja jest możliwa wyłacznie z wykorzystaniem adresu email z prefixem @comarch.
        <br>
        Po zalogowaniu użytkownik ma dostęp do poniższych funkcji:
      </p>
      <ul>
        <li>Lista szkoleń</li>
        <li>Zaproponowanie tematu</li>
        <li>Lista proponowanych temat&oacute;w</li>
      </ul>

      <h3 style="color: #2e6c80;"><span style="color: #000000;">Proponowanie tematu:</span></h3>
      <p>Zalogowany użytkownik ma możliwość zaproponować temat szkolenia. Aby zaproponować temat, należy kliknąć
        <a title="zaproponowanie tematu" href="/addproposal">zaproponuj temat</a> w głównym menu aplikacji.
        Należy wpisać temat szkolenia, krótki opis szkolenia oraz zaznaczyć czy wyrażasz chęć na poprowadzenie </p>
      <p>Aby wysłać zaproponowany temat nażely kliknąć
        <span style="background-color: #44a5af; color: #fff; display: inline-block; padding: 3px 10px; font-weight: bold; border-radius: 5px;">Stwórz propozycję </span> </p>
      <h3 style="color: #2e6c80;"><span style="color: #000000;">Lista proponowanych tematów:</span></h3>
      <p>Zalogowany użytkownik ma możliwość zagłósować na temat albo wyrażić chęć poprowadzenia tematu. Po przejściu do
        <a title="zaproponowanie tematu" href="/topics">proponowanych tematów</a> w głównym menu aplikacji użytkownik ma dostęp do listy proponowanych tematów.
         </p>
      <ul>
        <li>Aby wyrazić chęć poprowadzenia szkolenia należy kliknąć <span class="mat-button-wrapper"><mat-icon _ngcontent-tum-c95="" role="img" title="poprowadź szkolenie"
                                                                    class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">face</mat-icon></span></li>
        <li>Podoba się temat? Aby zagłosować na temat należy kliknąć <mat-icon _ngcontent-pvs-c95="" role="img" title="wyraź zainteresowanie" class="mat-icon notranslate
        material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">stars</mat-icon></li>
      </ul>


      <h3 style="color: #2e6c80;"><span style="color: #000000;">Lista szkoleń:</span></h3>
      <p>Zalogowany użytkownik ma możliwość przejrzeć listę zaakceptowanych przez administratora szkoleń. Aby przejść do listy szkoleń należy kliknąć
        <a title="zaproponowanie tematu" href="/trainings">lista szkoleń</a> w głównym menu aplikacji. Szczegóły szkolenia są dostępne po kliknięciu na wybrane szkolenie.
      </p>

      <h3 style="color: #2e6c80;"><span style="color: #000000;">Uprawnienia prowadzącego szkolenia:</span></h3>
      <p>Prowadzący szkolenia ma dostęp do edytowania szkolenia po przejściu do
        <a title="zaproponowanie tematu" href="/addproposal">listy szkoleń</a> w głównym menu aplikacji.
      </p>
      <ul>
        <li>Aby edytować szkolenie należy kliknąć <mat-icon _ngcontent-vbw-c90="" role="img" title="edytuj"
                                                            class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">settings</mat-icon></li>
      </ul>
      <p>Po kliknięciu można zmienić następne dane: zmienić głowne zdjęcie reprezentujące temat, opis, datę godzinę, czas trwania szkolenia oraz dodać albo usunąć załącznik </p>

      <ul>
        <li>Aby usunąć wybrane szkolenie należy kliknąć  <mat-icon _ngcontent-ieq-c90="" role="img" title="usuń"
                                                                   class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">delete</mat-icon></li>
      </ul>


    </div>
  </div>
  <div class="empty"></div>


</div>
